.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .logo{
  border-style: solid !important;
  border-color: #8E8269 !important;
  background-color: #AAA0a0; 
  float: left;
  margin-right: 10px;

  
} */
/* img{
  float: left;
  border-style: solid;
  border-color: #8E8269 !important;
  background-color: #AAA0a0; 
  margin-right: 10px;


} */

.nav-bar{
  border: solid !important ;
  border-color: #8E8269 !important;
  background-color: #86b3d1 !important;
  padding: 5px;
  
}
span, button, .form-modal .jumbotron, h1{
  font-family: 'Press Start 2P' !important;
  background-color: '#474853';
  color: white
  
}
span{
  color:black
}
.jumbo-text{
  padding-top: 18px !important;
  color: white !important;
  
}
.logo, img{
  border-style: solid !important;
  border-color: #8E8269 !important;
  background-color: #AAA0a0; 
  float: left;
  border: 4px;
  margin-right: 10px;

  
}
.jumbotron{
  background-color: #474853;
  margin: 0px;
}
.navbar, .char-score{
  display:flex;
  flex-direction: column;
  align-content: flex-start
}
.navbar-brand{
  margin: 0px;
  padding: 0px;
  height: 25px;
  width: 50%;

}
.login-out-btns{
  display: flex; 
  justify-content: right; 
  margin-left: 5px
  
  /* justify-items: right !important; */
  

}
.btn{
 
 margin: 4px;
 background-color: #844d36
}
a{
  color:white
}
.modal{
  opacity: 98%
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
